---
---
@charset "UTF-8";

$link-color: #0092ca;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  position: sticky;
  top: 0;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

html {
    font-size: 14px;
}

// .page__content p, .page__content li, .page__content dl {
//   font-size: 0.875em; /* 14px/16=0.875em */
// }
