---
---
@charset "UTF-8";

$link-color: #0092ca;
// $type-size-4: 1em;          // ~16px
// $type-size-5: 0.875em;      // 14px/16=0.875em

a {
  text-decoration: none;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  position: sticky;
  top: 0;
  background-color: $background-color;
}

.page__content p,li,dl {
  font-size: 0.875em;
}
